.hide {
  display: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.di {
  display: inline-block;
}
.vm {
  vertical-align: middle;
}
.pr {
  position: relative;
}
@include bg-variant('.bg-white', white);
@include margin-init(60, 5, true true true true true);
@include padding-init(60, 5, true true true true true);