$white: #ffffff;

$dark-grey: #333333;
$grey: #666666;
$light-grey: #999999;
$lighter-grey: #dfdfdf;
$lighter-grey2: #F5F6F8;
$lighter-grey3: #eeeeee;
$lighter-grey4: #dddedf;
$lighter-grey5: #edf0f5;
$lighter-grey6: #ccc;
$lighter-grey7: #F7F7F8;
$lighter-grey8: #add8fd;
$lighter-grey9: #f0f3f4;

$blue: #3582e2;

$red: #ed5172;

$bg-color: #edf0f5;
$bg-color1: #ebf4fe;

$table-header: #EEE;

$bottom-bg: #3b4655;

$green: #67c23a;

$basic-green: #0283fb;
$basic-green2: #0283fb;













