$susy: (
  columns: 12,
  gutters: 0,
  gutter-position: inside
);

.row {
  @include clearfix;
  margin-left: -15px;
  margin-right: -15px;
}

@for $i from 1 through 12 {
  .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@for $i from 1 through 12 {
  .col-xs-#{$i}{
    @include span($i);
  }
  .col-xs-offset-#{$i}{
    margin-left: 100% / 12 * $i;
  }
}

@include susy-media(768px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i}{
      @include span($i);
    }
    .col-sm-offset-#{$i}{
      margin-left: 100% / 12 * $i;
    }
  }
}

@include susy-media(992px) {
  @for $i from 1 through 12 {
    .col-md-#{$i}{
      @include span($i);
    }
    .col-md-offset-#{$i}{
      margin-left: 100% / 12 * $i;
    }
  }
}

@include susy-media(1200px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i}{
      @include span($i);
    }
    .col-lg-offset-#{$i}{
      margin-left: 100% / 12 * $i;
    }
  }
}
